body {
    background-color: black;
}
.fred, row {
    
    display:flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    background-image: linear-gradient(grey, white, grey);
    width: 400px;
    border-radius: 16px;
}
